/*ESTILO ENCABEZADO DE PÁGINA*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #fff; /* Añade un color de fondo al header para evitar que los elementos se superpongan */
    z-index: 99; /* Asigna un valor alto al z-index */
}

nav {
    background: #44535e;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 98; /* Asigna un valor ligeramente menor al z-index */
}
.enlace{
    position: absolute;
    left: 230px;
    padding: 10px 50px;
}

nav ul{
    float: right;
    margin-right: 200px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.menu-principal :hover{
    font-size: 22px;
}

.menu-principal .sub-menu{
    position: absolute;
    display: none;
    list-style: none;
    width: 100%;
    background-color: #44535e;
    padding: 0;
}
.menu-principal li:hover .sub-menu{
    display: block;
}
.menu-principal.sub-menu{
    left: 0;
    top: 100%;
}
.menu-principal li{
    position: relative;
}
.sub-menu li a{
    display: block;
    color: white;
    padding: 15px 15px 5px;
}
.i a.active, li a:hover{
    background:gainsboro;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

nav a{
    text-decoration: none;
}

/*FOOTER- PIE DE PÁGINA*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(background-footer.svg);
    background-size: cover;
    position: absolute;
    bottom: 0;
}
.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.logazo img{
    width: 250px;
}
.texto_abajo{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color:#2f4f4f;
    font-size: 20px;
}

.box_footer h2{
    margin-bottom: 20px;
    color: #343434;
    font-weight: 1000;
    font-size: 25px;
}
.box_footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

.box_footer a:hover{
    opacity: 0.5;
}

.box_footer a.fab{
    font-size: 20px;
}
.box_footer h3{
    font-weight: 700;
    color: #7a7a7a;
    font-size: 18px;
}
/*RESPONSIVE*/
@media (max-width: 952px){
    .enlace{
        padding-left: 5px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 768px){
    /*HEADER*/
    /*MENÚ DEL HEADER*/
    /*.menu-principal{
        display: none;
    }*/
    ul{
        position: fixed;
        height: 100vh;
        background: #44535e;
        top: 102px;
        left: -100%;
        transition: all .5s;
        font-size: 10px;
    }
    /*NAV*/
        nav ul li{
            display: block;
            margin: 65px 0;
            line-height: 50px;
            border-bottom:1px solid rgba(255,255,255, .3);
        }
        nav ul li a{
            font-size: 25px;
        }
        li a:hover, li a.active{
            background: none;
            color:wheat;
        }
        #check:checked ~ ul{
            left:0;
        }
        nav{
            width: 85%;
        }
        .image_nav{
            padding-top: 5px;
            width: 180px;
            height: 80px;
        }
     /*FOOTER*/
        .container_footer{
            flex-direction: column;
            text-align: center;
        }
        .box_footer:nth-child(1), .box_footer:nth-child(2),.box_footer:nth-child(3){
            margin-bottom: -80px;
        }
        .box_footer h2{
            font-size: 30px;
        }
        .box_footer a{
            font-size: 20px;
        }
        .texto_abajo{
            text-align: center;
        }
    }    