body{
    position: relative;
    padding-bottom: 150px;
    min-height: 200vh;
}

.texto_panel{
    width: 1600px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 200px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.texto{
    width: 35%;
    float: left;
    margin: 20px; 
}
.texto:hover{
    background-color: #D5DBDB;
}
.texto h2{
    font-size: 20px;
    font-weight: 900;
}
.texto ul {
    list-style: none;
    padding: 0;
}
.texto li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    margin-left: 20px;
    margin-top: -8px;
}
.powerbi{
    width: 60%;
    float: right;
    background-color: green;
}
.texto_panel h1{
    color: #2f4f4f;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.texto_panel p{
    font-size: 20px;
}
.Preguntas{
    margin-left: 200px;
    margin-top: 30px;
}
.Preguntas h2{
    font-weight: 900;
    font-size: 20px;
}
.Preguntas p{
    font-size: 25px;
}